<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html table</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        thead{
            background-color: darkslategray;
            color: yellow;
        
    </style>



</head>

<body>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </thead>
            <tbody>
                <tr>
                    <td>Michael</td>
                    <td>Choi</td>
                    <td>Michael Choi</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Supsupin</td>
                    <td>John Supsupin</td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>Guillen</td>
                    <td>Mark Guillen</td>
                </tr>
                <tr>
                    <td>KB</td>
                    <td>Tonel</td>
                    <td>KB Tonel</td>
                </tr>
            </tbody>
    
        </table>
    </div>
</body>
</html>



