<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Edit A Recipe</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Edit A Recipe</h1>
            <div>                
                <a href="/welcome" class="btn btn-primary">Back to Recipes</a>
                <a href="/users/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
        {% for message in get_flashed_messages() %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
        <form class="row" action="/recipes/{{recipe.id}}/update" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" value="{{recipe.name}}">
            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="30" rows="10">{{recipe.description}}
            </textarea>
            <label for="instructions">Instructions:</label>
            <textarea name="instructions" id="instructions" cols="30" rows="10">{{recipe.instructions}}
            </textarea>
            <label for="date">Date Cooked/Made:</label>
            <input type="date" name="date_cooked" id="date" class="form-control" value="{{recipe.date_cooked}}">
            <div class="form-group">
                Under 30 minutes?
                <label for="yes">Yes</label>
                <input type="radio" name="under_30" id="yes" value="1"  >
                <label for="no">No</label>
                <input type="radio" name="under_30" id="no" value="0" >
            </div>
            <button class="btn btn-primary">Edit Recipe</button>
            <div>
            </div>  
        </form>
    </div>
</body>
</html>