<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new dog</title>
</head>
<body>
    <h1>Add A New Dog</h1>
    <form action="/dogs/create" method="post">
        <p>Name</p>
        <input type="text" name="name" id="name">
        <p>Breed</p>
        <input type="text" name="breed" id="breed">
        <p>Color</p>
        <input type="text" name="color" id="color">
        <p>Age</p>
        <input type="number" name="age" id="age">
        <button>Submit</button>
    </form>
</body>
</html>