<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs</title>
</head>
<body>
    <h1>Welcome to Dogs app</h1>
    <a href="/dogs/new">Add a Dog</a>
    <a href="/awards">View All</a>
    <ul>
        {% for one_dog in all_dogs %}
        <li>{{one_dog.id}}) Name: <a href="/dogs/{{one_dog.id}}">{{one_dog.name}}</a> Breed: {{one_dog.breed}} Color: {{one_dog.color}} Age: {{one_dog.age}}
            <a href="/dogs/{{one_dog.id}}/edit">Edit</a>
            <a href="/dogs/{{one_dog.id}}/delete">Delete</a>
        </li>
        {%endfor%}
    </ul>
    <a href="/awards/new">Give one of these dogs an award</a>
</body>
</html>