<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playground</title>
    <style>
        body {
            text-align: center;
        }

        .container {            
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
        }
        .inner-box{
            display: inline-block;
            width: 250px;
            height: 250px;
            border: 1px solid black;
            background-color: lightblue;
            border-radius: 20px;
        }
    </style>
</head>

<body>
    <h1>Welcome!</h1>
    <div class="container">
        <div class="inner-box"></div>
        <div class="inner-box"></div>
        <div class="inner-box"></div>
    </div>

</body>

</html>